/* !css
 * 
 *  $Id$
 * 
 *  CSS style file for the test CGI scripts for Atocha form library.
 */

@import url("../../../../style.css");

.atoerror { color: red; font-size: smaller; }

.atotable {
  margin-left: auto;
  margin-right: auto;
}

td.atolabel {
  padding-left: 1em;
  padding-right: 1em;
  background-color: #F4F4F0;
}

td.atodisplay {
  padding-left: 1em;
  padding-right: 1em;
  background-color: #F4F4F4;
}

div#message {
  background-color: #FCC;
  border: medium solid red;
  padding: 5px;
  margin: 5px;
}

div#test-form {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border: medium solid black;
  padding: 1em;
}

pre#values-repr {
  background-color: white;
  border: thin dashed black;
  padding: 1em;
  text-align: left;
}

span.atorequired {
  padding-left: 5px;
  padding-right: 5px;
  color: green;
}


.button { 
  display: inline;
  padding: 5px;
  margin: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  border: thin solid black;
}

#edit { 
  background-color: #CCF;
}

#source { 
  margin-top: 50px;
  font-size: smaller;
}

#source a { 
  font-style: italic;
  background-color: #CFA;
}

#buttons { 
  margin: 20px;
}

#back { 
  margin: 20px;
  font-size: small;
  text-align: right;
}
